doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/hamburgerMenu.js')
  body
    <header>
      <div class='title'>VIBE</div>
      <div class='menu' id='menu'>
        <div id='hamburger' onclick=clickedHamburger(this)>
          <div id='hamburger1'></div>
          <div id='hamburger2'></div>
          <div id='hamburger3'></div>
        </div>
        <a id='home' href='/' onclick=changeCurrentPage(this)>Home</a>
        <a id='addQuestion' href='../addQuestion' onclick=changeCurrentPage(this)>Add Question</a>
        <a id='update' href='../update' onclick=changeCurrentPage(this)>Update Account</a>
        //FIGURE OUT HOW TO HANDLE SIGN OUT??
        <a href='#'>Sign Out</a>

      </div>
    </header>
    
    block content
