extends layout

block content
  h3=title
  meta(charset='utf-8')
  <form method="POST">
    <div class="questionBox" id="display">
      <b>#{theQuestion}</b>
    </div>

    <div>
      input(class="radioButton", type="radio", name="options", id="showFirstOption", value=pickedFristOption)
      <label for="showFirstOption", class="optionBox">#{option1}</label><br>
    </div>
    <div>
      input(class="radioButton", type="radio", name="options", id="showSecondOption", value=pickedSecondOption)
      <label for="showSecondOption", class="optionBox">#{option2}</label><br>
    </div>
    <div class="centerButtons">
      input(class="button", id="skip", type="submit", value="Skip")
      input(class="submitButton", id ="main", type="submit", value="Submit")
    </div>
  </form>
  
