extends layout

block content
  h3=title
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  <form method="POST">
    <div class="graphWrapper">
      <div id="firstResults" style="height: #{option1Percent}%">
        <b>#{option1Percent}% - #{option1Name}</b>
      </div>
      <div id="secondResults" style="height: #{option2Percent}%">
        <b>#{option2Percent}% - #{option2Name}</b>
      </div>
    </div>
    <div id="resultsQuestion">
      <p> Was this a good question? </p>
      input(class="thumbs", id="up", type="submit", name="thumbs", value=1)
      input(class="thumbs", id="down", type="submit", name="thumbs", value=-1)
    </div>
  </form>
