extends layout

block content

  h3=title
  <form method="POST" id="updateForm">
    <div>
      <p>First Name:</p>
      input(class=firstField, type="text", name="firstname", id="first", placeholder="John", value=first, disabled=firstFieldDisabled)
      span(class="editField", onclick=submitFirst||"location.href='/update/firstName'") #{firstFieldLabel||"Edit"}
    </div>
    <div>
      <p>Last Name:</p>
      input(class=lastField, type="text", name="lastname", id="last", placeholder="Doe", value=last, disabled=lastFieldDisabled)
      span(class="editField", onclick=submitLast||"location.href='/update/lastName'") #{lastFieldLabel||"Edit"}
    </div>
    <div>
      <p>Email:</p>
      input(class=emailField, type="text", name="email", id="email", placeholder="john.doe@gmail.com", value=email, disabled=emailFieldDisabled)
      span(class="editField", onclick=submitEmail||"location.href='/update/email'") #{emailFieldLabel||"Edit"}
    </div>
    <div>
      <p>Username:</p>
      input(class=userField, type="text", name="username", id="username", placeholder="Username", value=user, disabled=userFieldDisabled)
      span(class="editField", onclick=submitUser||"location.href='/update/username'") #{userFieldLabel||"Edit"}
    </div>
    <div>
    pre=errorbox
    <div>
      //Make these buttons look different
      <button class="button" type="button" onclick="location.href='/update/password'">Change Password</button> <br>
      <button class="button" type="button" onclick="location.href='/update/security'">Change Security</button> <br>
      <button class="button" type="button" onclick="location.href='/'">Return</button>
    </div>